<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Home
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        Map
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Profile

                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Badge

                    </a>
                </li>
            </ul>
        </nav>

    </div>
</footer>