<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>

<body>

    <input type="file" class="inputFile" id="inputFile" onchange="getfile(event)" accept="image/png">

    <button onclick="uploadimage()">upload image</button>

    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-storage.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDa7kvj9JGl9vO4CzwCtIvXf_sjyCgk41Q",
            authDomain: "greenmapper-da4bf.firebaseapp.com",
            projectId: "greenmapper-da4bf",
            storageBucket: "greenmapper-da4bf.appspot.com",
            messagingSenderId: "729535270764",
            appId: "1:729535270764:web:cc9987a3d1b9e84be8ad49",
            measurementId: "G-9ZHQP5SXLL"
        };

        firebase.initializeApp(firebaseConfig);





        var fileitem;
        var filename;

        function getfile(e) {

            fileitem = e.target.files[0];
            filename = fileitem.name;


            // } function uploadimage() {
            //     let storageRef = firebase.storage().ref("images/" + filename);
            //     let uploadTask = storageRef.put(fileitem);

            //     uploadTask.on("statechanged", (snapshot) => {
            //         console.log(snapshot);

            //     }, (error) => {
            //         console.log(error);

            //     }, () => {
            //         uploadTask.snapshot.ref.getDownloadURL().then((url) => {
            //             console.log(url);
            //         })
            //     })

        }


        function uploadimage() {
            let storageRef = firebase.storage().ref("images/" + filename);
            let uploadTask = storageRef.put(fileitem);

            uploadTask.on("state_changed", (snapshot) => {
                // Handle state changes (progress, etc.)
                console.log("Upload is " + snapshot.state);
                console.log("Progress: " + (snapshot.bytesTransferred / snapshot.totalBytes) * 100 + "%");
            }, (error) => {
                // Handle errors
                console.error("Error:", error);
            }, () => {
                // Handle successful upload
                uploadTask.snapshot.ref.getDownloadURL().then((url) => {
                    console.log("File available at", url);
                });
            });
        }
    </script>
</body>

</html>