<div class="sidebar" data-color="orange">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->

    <div class="logo">
        <a href="/" class="simple-text logo-mini" style="font-weight: 600;">
            GM
        </a>
        <a href="/" class="simple-text logo-normal" style="font-weight: 600;">
            GreenMapper
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <!-- <li class="<%= currentPage === 'dashboard' ? 'active' : '' %>">
                <a href="/api/dashboard">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li> -->
            <li class="<%= currentPage === 'home' ? 'active' : '' %>">
                <a href="/api/">
                    <i class="now-ui-icons location_world"></i>
                    <p>Drives</p>
                </a>
            </li>
            <li class="<%= currentPage === 'map' ? 'active' : '' %>">
                <a href="/api/map">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li>
                <a href="/api/profile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <!-- <li>
                <a href="../tables.html">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Table List</p>
                </a>
            </li> -->
            <!-- <li>
                <a href="../examples/typography.html">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Typography</p>
                </a>
            </li> -->
            <li class="active-pro">
                <a href="../examples/upgrade.html">
                    <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                    <p>Plan a Drive</p>
                </a>
            </li>
        </ul>
    </div>
</div>